<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<title http-equiv="X-UA-Compatible" content="IE=edge">Home Page</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<!--User view-->
	<div ng-controller="userController">
		<h1>There are {{userCount}} Users.</h1>
		<ol>
			<li ng-repeat="user in users">
				{{user.name}}
			</li>
		</ol>
	</div>


	<!--Angular scripts-->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>

	<!--scripts-->
	<script type="text/javascript" src="/js/controllers/controller.js"></script>
</body>
</html>